input,
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 50px rgba(221, 212, 212, 0) inset !important;
  background-color: transparent !important;
  background-clip: text;
  -webkit-text-fill-color: white;
}

input::placeholder {
  color: rgb(160, 41, 41) !important; /* Set desired color */
}

/* Placeholder color for WebKit browsers (autofill) */
input:-webkit-autofill::-webkit-input-placeholder {
  color: rgb(160, 41, 41) !important; /* Matched to autofill text color */
}
